<h1>Enter a Number:</h1>

<form action="/process_url/random">
  <label for="min_id">Minimum: </label>
  <input id="min_id" type="text" name="minimum">
  <label for="max_id">Maximum: </label>
  <input id="max_id" type="text" name="maximum">
  <button>Pick Random Number</button>
</form>
